@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}

.modal{
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vw;  
    background-color: rgb(0, 0, 0, .5);
    backdrop-filter: blur(6px);
}


.modal .conteudo-modal{
    position: fixed;
    width: 30vw;
    left: 35vw;
    top: 10vw;   
    background-color: #fff;
    /* border: 1px solid #c4c4c4; */
    box-shadow: 4px 4px 8px #0002;
    border-radius: 7px;

}


.modal header{
    background-color: #c21858;
    padding: 20px;
    box-shadow: 4px 4px 8px #0002;
    justify-content: space-between;
    display: flex;
    /* border-radius: 7px; */
}
.modal header h1{
    font-size: 45px;
    font-weight: bold;
    color: #fff;

}
.modal header span{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.modal form{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0px 25px 50px 25px;
}

.modal span{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.modal input{
    padding: 10px;
}

.modal button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 150px;
    color: #fff;
    background-color: #C2185B;
    border-color: #c21858;
    padding: 10px 30px 10px 30px;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-left: 400px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}