
/* 
.modalReserva {
    width: 500px;
    height: 500px;
    background-color: pink;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    
} */