@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}

aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary {
    background-color: #C2185B;
    border-color: #C2185B;
    margin-top: 15px;
}

main.login {
    width: 400px;
}

section.full {
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 300px;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 110px;
    align-items: center;
    justify-content: space-around;
    
}

footer nav ul {
    list-style: none;
    display: flex;
}

footer nav ul li {
    margin: 10px;
    padding: 0px;
}

footer nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: solid 8px #C2185B;
    background-color: #c2185B;
    border-radius: 7px;
}

footer nav ul li a:hover{
    background-color: #0d6efd;
    border: solid 8px #0d6efd;
    color: #fff;
}

/* #h5{
    display: none;
}
 */
.modal {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vw;
    background-color: rgb(0, 0, 0, .5);
    backdrop-filter: blur(6px);
}


.modal .modalbody {
    position: fixed;
    max-width: 30vw;
    height: 430px;
    left: 35vw;
    margin-top: 70px;
    background-color: #fff;
    /* border: 1px solid #c4c4c4; */
    box-shadow: 4px 4px 8px #0002;
    border-radius: 7px;

}


.modal header {
    background-color: #c21858;
    height: 70px;
    padding: 20px;
    box-shadow: 4px 4px 8px #0002;
    justify-content: space-between;
    display: flex;
    /* border-radius: 7px; */
}

.modal header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;

}

.modal header span {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.modal form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0px 25px 50px 25px;
    height: 600px;
}

.modal span {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.modal input {
    padding: 10px;
}

.modal a {
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: flex-start;
    height: 25px;
    max-width: 250px;
    color: #fff !important;
    background-color: #C2185B;
    border: none;
    margin-bottom: 20px;
    margin-left: 0px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
   
}

.modal a:hover{
    background-color: #0d6efd;
}


.carousel img {
    background: no-repeat center;
    background-size: cover;
    max-height: 400px;
    object-fit: cover;
}

#header {
    background-image: url(../img/5053309.jpg);
    background-size: contain;
    /* <a href="http://www.freepik.com">Designed by coolvector / Freepik</a>  */
}

#main {
    background-image: url(../img/5053309.jpg);
    background-size: contain;
    /* <a href="http://www.freepik.com">Designed by coolvector / Freepik</a>  */
}

#full {
    background-image: url(../img/5053309.jpg);
    background-size: contain;
    /* <a href="http://www.freepik.com">Designed by coolvector / Freepik</a>  */
}


#h2 {
    color: #c21858;
    font-weight: 600;
    text: 70px;
}

#artigo {
    background-color: rgb(26, 26, 26);
    ;
    color: #fff;
}

.col {
    background-color: rgb(26, 26, 26);
    color: #fff;
}

#card {
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#card .headereventos {

    color: #C2185B;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#card p {
    text-align: justify;
}

#card a {
    position: absolute;
    bottom: 35px;
    left: 25%;
}

#eventos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#botaovoltar {
    float: left;
    width: 70px;
}

#linkvoltar {
    text-decoration: none;
    color: #fff !important;
}



.snackbar {
    background: #fff;
    padding: 0px 15px;
    width: 300px;
    position: absolute;
    top: 50px;
    right: -10%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.8);
    border-left: solid 6px #c21858;
    overflow: hidden;
    transform: translateY(-170px);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.snackbarAdm{
    background-color: #fff;
    padding: 0px 15px;
    width: 300px;
    position: absolute;
    top: 70%;
    left: 35%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.8);
    border-left: solid 6px #c21858;
    overflow: hidden;
    transform: translateY(-470px);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.snackbar.active {
    transform: translateY(-110px);
}

.snackbarAdm.active {
    transform: translateY(-30px);
}

.content {
    display: flex;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
    margin-left: 10px;
    padding: 0px;
}

#check{
   width: 20px;
   height: 20px;
   background: #c21858;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 10px; 
   border-radius: 50%;
   margin-left: 20px;
   margin-right: 20px;   
}

.message .title {
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    padding-top: 10px;
}

.message .text{
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
    padding-bottom: 10px;
}

#close  {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
}

#close:hover{
    color: #c21858;
}
.progress{
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    
}

.progress::before {
    content: '';
    background-color: #c21858;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.progress.active::before{
    animation: snackbar 3.5s linear forwards;   
}

@keyframes snackbar {
    100%{ right: 100%;}
}